# AWS

aws_region = "ap-south-1"

# VPC

vpc_name = "eks-vpc"
azs      = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]

# EKS

cluster_name = "eks-cluster"

# IAM

eks_cluster_role    = "eks-cluster-role"
eks_node_group_role = "eks-node-group-role"
